@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap");
/* font-family: 'Xanh Mono', monospace; */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
/* font-family: 'Noto Sans JP', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
/* font-family: 'Cormorant', serif; */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* font-family: 'Raleway', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
/* font-family: 'IBM Plex Serif', serif; */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* font-family: 'Raleway', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
/* font-family: 'Tajawal', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* font-family: 'Rubik', sans-serif; */
/* █████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████ */
.arab {
  font-family: "Tajawal", sans-serif;
  font-size: 29px;
  font-weight: 500 !important;
  line-height: 0px !important;
  
}
.rus {
  font-family: "Rubik", sans-serif;
  font-size: 29px;
  font-weight: 400 !important;
  line-height: 44px !important;
}
article > h1 {
  font-family: "Raleway", sans-serif !important;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
article > p {
  font-family: "IBM Plex Serif", serif !important;

  text-align: justify;
  font-size: 18px;
  font-weight: normal;
  text-indent: 20px;
}
article > img {
  width: 100%;
}
@media (max-width: 576px) {
  article > h1 {
    font-size: 33px;
  }
  article > p {
    font-size: 14px;
  }
}
.shadow-lg-hover {
  transition: 0.3s;
}
.shadow-lg-hover:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.479) !important;
}

article > table {
  font-size: 14px;
  border-radius: 10px;
  border-spacing: 0;
  text-align: center;
}
article > table th {
  background-color: black;
  color: white;
  padding: 10px 20px;
}
article > table th,
article > table td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
}
article > table th:first-child,
article > table td:first-child {
  text-align: left;
}
article > table td {
  padding: 10px 20px;
  background-color: silver;
}
article > table tr td:last-child {
  border-right: none;
}

/* █████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████ */
.bg-dark-gradient {
  background: -webkit-linear-gradient(225deg, rgb(187, 182, 182), rgb(66, 66, 70) 100%);
  background: -moz-linear-gradient(225deg, rgb(187, 182, 182), rgb(66, 66, 70) 100%);
  background: linear-gradient(225deg, rgb(187, 182, 182), rgb(66, 66, 70) 100%);
}
.img-brightness {
  transition: 0.2s;
}
.img-brightness:hover {
  filter: brightness(80%) !important;
}
.img-width-100percent {
  max-width: 100%;
}
.lvl-num-div {
  width: 10em;
  height: 10em;
  font-family: "Cormorant Garamond", serif;
  /* transition: all 0.3s ease-in-out;
    border-width: 2px !important; */
}
.btn-outline-none {
  outline: none !important;
  box-shadow: none !important;
  border-radius: 0px !important;
}
.shadow-circle-img {
  transition: 0.3s;
}
.shadow-circle-img:active {
  box-shadow: 0 0 3px;
}
.h-2em {
  height: 2em;
}
.w-initial {
  width: initial;
}
.text-justify {
  text-align: justify;
}
.min-vh-75 {
  min-height: 75vh;
}
.bordr-dashed {
  border-style: dashed !important;
}
.bordr-dotted {
  border-style: dotted !important;
}
.bg-light {
  background-color: #e2e2e2 !important;
}
.shadow-hard {
  box-shadow: 0 0 4px 0.5px;
  background-color: black;
}
.shadow-hard:hover {
  box-shadow: 0 0 4px 0.5px;
}
.shadow-and-hover {
  box-shadow: 0 0 10px;
  transition: 0.3s;
}
.shadow-and-hover:hover {
  box-shadow: 0 0 15px;
}
.shadow-hover:hover {
  box-shadow: 0 0 10px;
  transition: 0.3s;
}
.lock-img::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  background: url(/img/lock.png) 0 0 no-repeat;
}
.unlock-img::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  background: url(/img/unlock.png) 0 0 no-repeat;
}
.ul-jurisprudence:before {
  content: "";
  display: inline-block;
  width: 25px;
  margin-right: 10px;
  height: 25px;
  background: url(/img/icon_jurisprudence.png) 0 0 round;
  transition: 0.3s;
}
.ul-gammer:before {
  content: "";
  display: inline-block;
  width: 25px;
  margin-right: 10px;
  height: 25px;
  background: url(/img/icon_grammer.png) 0 0 round;
  transition: 0.3s;
}
.ul-history:before {
  content: "";
  display: inline-block;
  width: 25px;
  margin-right: 10px;
  height: 25px;
  background: url(/img/icon_history.png) 0 0 round;
  transition: 0.3s;
}
.btn-add-icon {
  transition: 0.3s;
  border: none !important;
  outline: none !important;
  width: 0px;
  height: 0px;
  margin-right: 13px;

}
.btn-add-icon:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(/img/add.png) 0 0 round;
}
.btn-add-icon:hover{
  filter: brightness(110%);
}
.btn-add-icon:active{
  filter: brightness(120%);
}

.btn-volume-icon {
  transition: 0.3s;
  border: none !important;
  outline: none !important;
  width: 0px;
  height: 0px;
  margin-right: 13px;
}
.btn-volume-icon:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(/img/volume.png) 0 0 round;
}
.btn-volume-icon:hover{
  filter: brightness(110%);
}
.btn-volume-icon:active{
  filter: brightness(120%);
}

.btn-delete-icon {
  transition: 0.3s;
  border: none !important;
  outline: none !important;
  width: 0px;
  height: 0px;
  margin-right: 13px;
}
.btn-delete-icon:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(/img/delete.png) 0 0 round;
}
.btn-delete-icon:hover{
  filter: brightness(110%);
}
.btn-delete-icon:active{
  filter: brightness(120%);
}

.bg-danger-important {
  background-color: red !important;
}
article div div div:first-child div .prev {
  visibility: hidden;
}
article div div div:last-child div .next {
  visibility: hidden;
}
.radio-style input[type="radio"] {
  display: none;
}
.radio-style label {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 18px;
  user-select: none;
  transition: 0.3s;
}
.radio-style label:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  padding-left: 2.5em;
  background: url(/img/radio-2.png) 0 0 no-repeat;
  transition: 0.3s;
}
/* Checked */
.radio-style input[type="radio"]:checked + label:before {
  background: url(/img/radio-1.png) 0 0 no-repeat;
}
/* Hover */
.radio-style label:hover:before {
  filter: brightness(120%);
}
/* Hover */
.radio-style label:hover {
  /* background-color: rgb(207, 207, 207); */
}
/* Disabled */
.radio-style input[type="radio"]:disabled + label:before {
  filter: grayscale(100%);
}
/* Checked */
.radio-style input[type="radio"]:checked + label {
  box-shadow: 0 0 15px 0.5px;
}

.btn-next-prev {
  font-family: "Noto Sans JP", sans-serif;
  font-size: large;
  width: 2em;
  height: 2em;
  font-weight: 500;
}
.shadow-header-footer {
  -webkit-box-shadow: 0px 1px 96px 61px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 1px 96px 61px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 1px 96px 61px rgba(34, 60, 80, 0.2);
}
