@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');
body{
  color: white !important;
  font-family: 'Playfair Display', serif;
}
.mydiv{
  min-width: 15em;
  min-height: 15em;

}